* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: #EF7886;
$secondary-color: #733930;
$third-color: #ffd9dd;
$fourth-color: #fcbdc3;

.main-page {
  display: flex;
  flex-direction: column;
  background-color: #dad7d7;
  height: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.background-image,
.background-image-2,
.img-servizi {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.presentation,
.about-me,
.services-cont { 
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.first-page,
.second-page,
.third-page,
.fourth-page { 
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 83vh;
  z-index: 1;
  border-bottom: 3px solid $primary-color;
}

.title {
  text-align: center;
  padding-bottom: 20px;
  font-size: 40px;
}

.sub-title {
  font-size: 35px;
  padding: 10px;
}

.cards {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0px;
  width: 100%;
  height: 100vh;
}

.grids-3 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0px;
  width: 100%;
  height: 100vh;
}

.about-me-title {
  padding-top: 10px,
}

.about-me-text {
  font-size: 30px;
  padding: 10px;
}

@media (min-width: 450px){

  .background-image-2 {
    object-position: 0px 40%;
  }

  .about-me {
    min-height: 600px;
    align-items: start;
    font-weight: bold;
  }

  .about-me-title {
    font-size: 50px;
  }

  .about-me-text {
    max-width: 700px;
  }

}

@media (max-width: 450px) {
   .grids-3 {
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 0px;
      width: 100%;
      height: 100vh;
    }
}