* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: #EF7886;
$secondary-color: #733930;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #ffd9dd;
}

.left-section {
  display: flex;
}

.nav-logo {
  width: 100px;
}

.right-section {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.nav-items {
  list-style: none;
  display: flex;
  color: $secondary-color;
}

.nav-items > li {
  padding: 5px;
}