*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.servizi-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.servizi-container:hover {
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 20px 20px 20px 20px #EF7886;
}

.servizi-container:active {
  opacity: 0.6;
}