*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.servizi-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.servizi-container:hover {
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 20px 20px 20px 20px #EF7886;
}

.servizi-container:active {
  opacity: 0.6;
}

.servizi {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 25px;
  align-items: center;
  justify-content: center;
}

.div-show {
  position: absolute;
  background-color: aquamarine;
  width: 100%;
  height: 100%;
}

.p-show {
  padding: 20px;
  font-size: 20px;
}

@media (max-width: 1000px) {
  .servizi-container {
    border: 1px solid #EF7886;
  }

  .div-show {
    width: max-content;
    height: max-content;
  }
}