* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  display: flex;
  background-color: #dcdada;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  font-size: 20px;
  width: 100%;
  height: 20px;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

small {
  font-size: 10px;
}

.instagram {
  width: 30px;
  padding: 10px;
}